@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#top_nav {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  position: relative;
}
#top_nav .logo {
  width: 250px;
  height: 85px;
  margin-right: 50px;
  position: absolute;
  top: 15%;
  left: 5%;
}
#top_nav .logo img {
  width: 100%;
  height: 100%;
}
#top_nav .search input {
  width: 440px;
  height: 60px;
  padding: 0 20px;
  border: 2px solid black;
  position: absolute;
  top: 35%;
  left: 33.5%;
}
#top_nav button {
  padding: 17px;
  border: 2px solid rgb(44, 117, 243);
  background-color: rgb(53, 113, 253);
  position: absolute;
  top: 37%;
  right: 30%;
}
#top_nav button a {
  color: white;
  font-weight: bold;
}
#top_nav button:hover {
  opacity: 0.7;
}

#bottom_nav {
  width: 100%;
  height: 50px;
  margin: 20px 0;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
#bottom_nav .nav_1 {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
}
#bottom_nav .nav {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
#bottom_nav .nav a {
  padding: 0 30px;
  color: black;
  font-weight: bold;
}

#sliderwrap {
  width: 100%;
  height: 600px;
  margin: 70px auto 0;
  background-color: rgb(242, 242, 242);
  overflow: hidden;
}
#sliderwrap .slide_1 {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#sliderwrap .slide_1 li {
  width: 100%;
}
#sliderwrap #slider1 {
  height: 600px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
#sliderwrap #slider1 .maintext {
  width: 600px;
  padding: 0 15px;
}
#sliderwrap #slider1 .maintext img {
  margin: 0 -90px 0 40px;
}
#sliderwrap #slider1 .maintext h1 {
  font-size: 70px;
}
#sliderwrap #slider1 .maintext p {
  margin: 28px 0 36px;
}
#sliderwrap #slider1 .maintext button {
  background: none;
  padding: 18px 30px;
}
#sliderwrap #slider1 .maintext button:hover {
  background: #62ab00;
  color: #fff;
  border: 2px solid #62ab00;
  transition: all 0.5s ease 0s;
}
#sliderwrap #slider2 {
  height: 600px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#sliderwrap #slider2 .maintext_1 {
  width: 600px;
  padding: 0 15px;
}
#sliderwrap #slider2 .maintext_1 img {
  margin: 0 -90px 0 40px;
}
#sliderwrap #slider2 .maintext_1 h1 {
  font-size: 70px;
}
#sliderwrap #slider2 .maintext_1 p {
  margin: 28px 0 36px;
}
#sliderwrap #slider2 .maintext_1 button {
  background: none;
  padding: 18px 30px;
}
#sliderwrap #slider2 .maintext_1 button:hover {
  background: #62ab00;
  color: #fff;
  border: 2px solid #62ab00;
  transition: all 0.5s ease 0s;
}

#side_nav {
  width: 100px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: -100px;
}
#side_nav div {
  width: 50px;
  height: 50px;
  margin: 0px 0px 13px;
  background: white;
  border-radius: 50px;
  border: 2px solid #eee;
}
#side_nav div:hover {
  background: #62ab00;
  color: #fff;
  border: 2px solid #62ab00;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

#other {
  width: 1200px;
  height: 150px;
  margin: 70px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#other .box_1 {
  width: 300px;
  height: 130px;
  margin: 0 20px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#other .box_1 .icon {
  width: 100px;
  height: 100px;
}
#other .box_1 .icon_1 {
  width: 150px;
  height: 100px;
}
#other .box_1 .icon_1 h4 {
  text-align: center;
  padding-top: 10px;
}
#other .box_1 .icon_1 p {
  text-align: center;
  padding: 7px;
}

#information {
  width: 1200px;
  height: 300px;
  margin: 70px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#information .box_2 {
  width: 600px;
  height: 250px;
  margin: 0 30px;
  border-radius: 5px;
  background-image: url(../img/banner01.jpg);
  background-size: cover;
  color: white;
  position: relative;
}
#information .box_2 h1 {
  padding: 20px 50px;
  font-weight: bold;
  font-size: 45px;
  position: relative;
  z-index: 100;
}
#information .box_2 a {
  font-size: 20px;
  padding-left: 350px;
  color: white;
  position: relative;
}
#information .box_2::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.541);
  border-radius: 5px;
}
#information .box_3 {
  width: 600px;
  height: 250px;
  margin: 0 30px;
  border-radius: 5px;
  background-image: url(../img/banner02.jpg);
  background-size: cover;
  color: white;
  position: relative;
}
#information .box_3 h1 {
  padding: 20px 50px;
  font-weight: bold;
  font-size: 45px;
  position: relative;
}
#information .box_3 a {
  font-size: 20px;
  padding-left: 350px;
  color: white;
  position: relative;
}
#information .box_3::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.245);
  border-radius: 5px;
}

section {
  width: 1200px;
  height: 880px;
  margin: 70px auto 0;
  border: 1px solid #eee;
  position: relative;
}
section h1 {
  padding-top: 25px;
  text-align: center;
  font-size: 35px;
}
section #booklist {
  position: absolute;
  top: 15%;
  left: 33%;
}
section #booklist ul {
  font-size: 40px;
}
section #booklist li {
  text-align: center;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  float: left;
  line-height: 45px;
  cursor: pointer;
  padding: 5px 50px;
}
section #booklist li:last-child {
  border-right: 1px solid #ddd;
}
section #titlelist {
  margin: 160px 0 0 10px;
  text-align: center;
  font-size: 20px;
}
section .box {
  width: 300px;
  height: 560px;
  float: left;
  margin: 30px;
  padding: 5px 10px;
  border: 1px solid #eee;
  position: relative;
}
section .box a {
  color: black;
}
section .box p {
  font-size: 15px;
  text-align: center;
  padding-top: 30px;
}
section .box img {
  width: 280px;
  height: 300px;
}
section .box h3 {
  text-align: center;
  padding-top: 30px;
}
section .box h6 {
  text-align: center;
  padding-top: 10px;
}
section .box .btn {
  position: absolute;
  top: 92%;
  left: 40%;
  background-color: #5084ff;
  padding: 3px 15px;
  border-radius: 5px;
}

article {
  padding: 20px 55px;
}

#list_a {
  display: block;
}

#list_b {
  display: none;
}

#list_c {
  display: none;
}

#banner {
  width: 100%;
  height: auto;
  margin-top: 70px;
  background-image: url(../img/큰뒷배경.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#banner .banner_1 {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
}
#banner .banner_1 h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 15%;
  left: 30%;
}
#banner .banner_1 p {
  font-size: 20px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 40%;
  left: 30%;
}
#banner .banner_1 a {
  color: white;
  position: absolute;
  top: 80%;
  left: 47%;
}
#banner .banner_1 .banner_img {
  width: 200px;
  position: absolute;
  top: 17%;
  left: 30%;
}
#banner .banner_2 {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 10%;
  left: 55%;
}
#banner .banner_2 img {
  width: 100%;
  height: 100%;
}

#banner::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.598);
}

#slidewrap {
  width: 1000px;
  height: 620px;
  margin: 70px auto 0;
  position: relative;
  overflow: hidden;
  border: 1px solid #eee;
}
#slidewrap .title {
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
}
#slidewrap #slide {
  width: 2016px;
  margin-left: 0px;
}
#slidewrap #slide .book {
  width: 300px;
  height: 500px;
  float: left;
  margin: 50px 17px;
  text-align: center;
}
#slidewrap #slide .book img {
  width: 270px;
  height: 300px;
}
#slidewrap #slide .book h3 {
  padding-top: 15px;
}
#slidewrap #slide .book h6 {
  padding-top: 5px;
}
#slidewrap #slide .book p {
  padding-top: 10px;
}
#slidewrap span {
  position: absolute;
  top: 45%;
  display: block;
  font-size: 38px;
  color: #fff;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  height: 50px;
  transform: translateY(-50%);
}
#slidewrap .prev {
  left: 0;
  border-radius: 0 10px 10px 0px;
  padding: 0 8px 0 2px;
}
#slidewrap .next {
  right: 0;
  border-radius: 10px 0px 0px 10px;
  padding: 0 2px 0 8px;
}

#week {
  width: 1200px;
  height: 550px;
  margin: 70px auto 0;
  position: relative;
}
#week .title {
  position: absolute;
  left: 43%;
  top: 3%;
}
#week .week_1 {
  width: 250px;
  height: 450px;
  float: left;
  margin: 130px 25px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 2px 2px 1px #ccc;
}
#week .week_1 img {
  width: 230px;
  height: 250px;
}
#week .week_1 h3 {
  padding-top: 20px;
}
#week .week_1 h6 {
  padding-top: 10px;
}
#week .week_1 p {
  padding-top: 10px;
}

#show {
  width: 100%;
  height: 300px;
  margin-top: 150px;
  background-color: rgb(93, 133, 252);
  display: flex;
  justify-content: center;
  align-items: center;
}
#show .show_1 {
  width: 1200px;
  height: 200px;
  text-align: center;
  padding: 20px;
}
#show .show_1 h2 {
  font-size: 40px;
  font-weight: bold;
}
#show .show_1 p {
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 12px;
}
#show .show_1 input {
  padding: 10px 150px;
}
#show .show_1 button {
  padding: 10px 10px;
  background-color: #5084ff;
}
#show .show_1 button a {
  color: white;
  font-weight: bold;
  border: none;
}

.top {
  position: fixed;
  top: 93%;
  left: 95%;
  background-color: #5084ff;
  border-radius: 20px;
  width: 70px;
  height: 40px;
}
.top a {
  color: white;
  font-weight: bold;
  padding-left: 16px;
  font-size: 25px;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #f4f4f4;
}
footer #footer_1 {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}
footer #footer_1 .foot_1 {
  width: 300px;
  height: 100px;
  position: absolute;
  top: 20%;
  left: 25%;
}
footer #footer_1 .foot_1 img {
  width: 100%;
  height: 100%;
}
footer #footer_1 .foot_2 {
  width: 800px;
  height: 70px;
  position: absolute;
  top: 60%;
  left: 2%;
}
footer #footer_1 .foot_2 .nav_2 {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
footer #footer_1 .foot_2 .nav_2 a {
  padding: 0 20px;
  color: black;
  font-weight: bold;
}
footer #footer_1 .foot_3 {
  width: 300px;
  height: 250px;
  position: absolute;
  top: 7%;
  left: 72%;
}
footer #footer_1 .foot_3 .nav_3 {
  padding: 60px 10px;
}
footer #footer_1 .foot_3 .nav_3 li {
  padding: 5px 0;
  font-weight: bold;
}
footer #footer_1 .copy {
  width: 210px;
  position: absolute;
  top: 87%;
  left: 42%;
}