@charset "utf-8";

@import "reset";

@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

#top_nav {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    position: relative;

    .logo {
        width: 250px;
        height: 85px;
        margin-right: 50px;
        position: absolute;
        top: 15%;
        left: 0%;

        img {
            width: 100%;
            height: 100%;
        }

    }

    .search input {
        width: 640px;
        height: 60px;
        padding: 0 20px;
        border: 2px solid black;
        position: absolute;
        top: 35%;
        left: 25%;
    }

    button {
        padding: 18px;
        border: 2px solid rgb(44, 117, 243);
        background-color: rgb(53, 113, 253);
        position: absolute;
        top: 37%;
        right: 21.8%;

        a {
            color: white;
            font-weight: bold;
        }
    }

    button:hover {
        opacity: 0.7;
    }

    .login {
        width: 150px;
        height: auto;
        position: absolute;
        top: 60px;
        right: -70px;
        color: #2e65e4;
        z-index: 11;

        i {
            font-size: 30px;
        }

        #gear {
            width: 300px;
            height: 330px;
            font-size: 10px;
            border-radius: 5px;
            position: absolute;
            top: 40px;
            right: 70px;
            background-color: #6493ff;
            color: rgb(255, 255, 255);

            div {
                width: 250px;
                border-bottom: 2px solid rgb(255, 255, 255);
                margin-left: 20px;

                h4 {
                    font-size: 20px;
                    padding: 30px 0 10px 10px;
                    letter-spacing: 2px;
                }
            }


            ul {
                font-weight: 100;
                font-size: 15px;
                padding: 10px 30px;

                li {
                    padding-top: 15px;
                    letter-spacing: 1px;
                }
            }
        }
    }





}

#bottom_nav {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;

    .menu {
        width: 1200px;
        margin: 0 auto;
        z-index: 5;

        li {
            float: left;
            width: 200px;
            line-height: 45px;
            text-align: center;
            background-color: #fff;
            position: relative;
            z-index: 10;


            a {
                color: #000000;
                font-size: 18px;
                font-weight: 500;


            }

            a:hover {
                color: #ffffff;
            }

        }

        li:hover {
            background-color: #5084ff;
            border-bottom: 2px solid #ccc;

        }

        .sub {
            background-color: #ddd;
            display: none;
            position: absolute;
            top: 48px;
            left: 0;

            li:hover {
                background-color: rgb(107, 166, 207);
            }
        }

    }
}

#main {
    width: 1200px;
    height: 650px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .book_cover {
        width: 500px;
        height: 600px;
        transform-style: preserve-3d;
        perspective: 1000px;

        .turn_img {
            width: 100%;
            height: 600px;
            position: relative;
            transition: 0.5s;
            transform-style: preserve-3d;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);


            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;


            }

        }


        .turn_img:hover {
            transform: rotateY(35deg);
            cursor: url(../sub_IMG/ico_flip.svg), pointer !important;
        }

        .turn_img::before {
            content: "";
            width: 62px;
            height: 600px;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../sub_IMG/옆면.jpg);
            background-size: cover;
            transform-origin: left;
            transform: rotateY(90deg);
        }

        .turn_img::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: url(../sub_IMG/뒷면.jpg);
            background-size: cover;
            background-position: center;
            transform-origin: center;
            transform: rotateY(180deg) translateZ(61px);


        }

    }



    .main_2 {
        width: 600px;
        height: 600px;
        background-color: #fff;

        #book_title {
            width: 500px;
            margin: 20px 50px;

            h2 {
                padding-top: 10px;
                font-size: 35px;
            }

            .buy {
                padding-top: 5px;

                .persent {
                    color: #2e65e4;
                    font-size: 30px;
                    font-weight: bold;
                }

                .price {
                    color: black;
                    font-size: 30px;
                    font-weight: bold;
                }

                .sale {
                    text-decoration: line-through;
                }
            }

            ul {
                display: flex;

                li {
                    color: rgb(255, 222, 32);
                    font-size: 20px;
                    padding-top: 10px;
                }
            }

            p {
                padding-top: 20px;
            }

        }

        #book_table {
            font-size: 15px;
            width: 500px;
            margin: 0 auto;

            li {
                border: 1px solid #ccc;
                padding: 5px;
                border-bottom: none;
                line-height: 25px;

                span {
                    padding: 5px;
                }

                span:first-child {
                    border-right: 1px solid #ccc;
                    padding: 5px;
                    width: 170px;
                    display: inline-block;

                }
            }

            li:last-child {
                border-bottom: 1px solid #ccc;
            }
        }




        #number {
            width: 500px;
            display: flex;
            align-items: center;
            margin: 20px 50px;

            .plus {
                width: 250px;
                height: 50px;
                font-size: 30px;
                text-align: center;
                border-radius: 5px;
            }

            button {
                padding: 16px 20px;
                margin: 0 10px;
                background-color: #ccc;
                border: #eee;
                letter-spacing: 2px;
                border-radius: 5px;
            }

            button:hover {
                background-color: #2e65e4;
                color: white;
                font-weight: bold;
            }

            i {
                font-size: 30px;
                padding: 0 7px;
            }


        }


        #sell {
            width: 300px;
            height: 50px;
            margin: 0px 50px;
            background-color: #eaeaea;
            font-size: 17px;
            font-weight: bold;
            letter-spacing: 5px;
            border: 2px solid #e6e6e6;
            border-radius: 5px;
        }

        #sell:hover {
            cursor: pointer;
            background-color: #2e65e4;
            color: white;
        }
    }
}



#introduce {
    width: 1200px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 100px auto 0; 

    .info_menu {
        width: 100%;
        height: 50px;
        background-color: #2e65e4;
        color: rgb(0, 0, 0);
        font-weight: bold;
        display: flex;

        .infoMenu {
            width: 300px;
            text-align: center;
            padding-top: 12px;
            background-color: #ebebeb;
            cursor: pointer;
        }

        .active {
            color: white;
            background-color: #2e65e4;
            border: 1px solid #006f9f;
            border-bottom: none;
        }
    }


    #bookInfo_box {
        width: 100%;
        height: 550px;
        position: relative;
        font-weight: bold;

        .bookInfo {
            width: 100%;
            height: auto;
            background-color: #faf9f9;
            padding: 20px 100px;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;

            .comment {
                width: 800px;
                height: 100px;
                margin: 0 auto;

                input {
                    padding: 30px;
                    width: 100%;
                    border-radius: 10px;
                    border: none;
                    font-size: 15px;
                }

                a {
                    position: absolute;
                    top: 40px;
                    right: 250px;
                    padding: 10px 15px;
                    background-color: #e9e9e9;
                    border-radius: 10px;
                    color: black;
                    cursor: pointer;
                }

                a:hover {
                    background-color: #2e65e4;
                    color: white;
                }
            }

            .review {
                width: 800px;
                height: 85px;
                background-color: rgb(255, 255, 255);
                margin: 10px auto;
                border-bottom: 2px solid #ccc;
                position: relative;

                .star {
                    width: 150px;
                    height: 30px;
                    color: gold;
                    text-align: center;
                    padding-top: 15px;
                }


                h3 {
                    position: absolute;
                    top: 15px;
                    left: 150px;

                }
                p {
                    position: absolute;
                    top: 50px;
                    left: 20px;
                    font-weight: lighter;
                }

                .data {
                    width: 100px;
                    height: 20px;
                    position: absolute;
                    top: 15px;
                    left: 250px;
                    padding-top: 2px;
                    border-left: 1px solid #ccc;

                    
                }
            }
        }

        .bookInfo:not(:first-of-type) {
            display: none;
        }
    }
}



#week {
    width: 1200px;
    height: 550px;
    margin: 200px auto 0;
    position: relative;

    .title {
        position: absolute;
        left: 43%;
        top: 3%;

    }

    .week_1 {
        width: 250px;
        height: 400px;
        float: left;
        margin: 100px 25px;
        text-align: center;
        border: 1px solid #eee;
        box-shadow: 2px 2px 1px #ccc;
        position: relative;
        overflow: hidden;

        img {
            margin-top: 10px;
            width: 200px;
            height: 270px;
        }

        h3 {
            padding: 40px 30px;
        }

        .part_img {
            width: 50px;
            height: 200px;
            position: absolute;
            top: 10px;
            left: 0;
            display: flex;
            flex-direction: column;
            transform: translateX(-40px);
            transition: 1s;
            opacity: 0;

            i {
                padding: 15px;
                color: #000000;
                font-size: 20px;
                background-color: #f7f7f7;
                opacity: 0.9;
                border-radius: 50px;

            }
        }

    }
}


footer {
    width: 100%;
    height: 300px;
    background-color: #f4f4f4;

    #footer_1 {
        width: 1200px;
        height: 300px;
        margin: 0 auto;
        position: relative;

        .foot_1 {
            width: 300px;
            height: 100px;
            position: absolute;
            top: 20%;
            left: 25%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .foot_2 {
            width: 800px;
            height: 70px;
            position: absolute;
            top: 60%;
            left: 2%;

            .nav_2 {
                display: flex;
                justify-content: center;
                padding-top: 25px;

                a {
                    padding: 0 20px;
                    color: black;
                    font-weight: bold;
                }
            }
        }



        .foot_3 {
            width: 300px;
            height: 250px;
            position: absolute;
            top: 7%;
            left: 72%;

            .nav_3 {
                padding: 60px 10px;

                li {
                    padding: 5px 0;
                    font-weight: bold;

                }
            }
        }

        .copy {
            width: 210px;
            position: absolute;
            top: 87%;
            left: 42%;
        }

    }

}
